.map-overlay {
    /* position: absolute --> */
    position: relative;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial, sans-serif;
    border-radius: 3px;
}
#overlay-table {
    position: absolute;
    left: 2vw;
    top:20px;
    max-width:100%;
    white-space:nowrap;
}
/* 
#school-layer-radio {
    position:relative;
    padding-bottom: 10px;
    display: table;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    width: auto;
} */

body {
    margin: 0;
    padding-top: 0;
    z-index: auto;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

dl {
    padding: 0.2em;
    margin: 1px;
}

dt {
    float: left;
    clear: left;
    width: fit-content;
    text-align: left;
    font-weight: bold;
    color: darkBlue;
    font-size: 11pt;
}

dt::after {
    content: ":";
}

dd {
    margin: 0 0 0 195px;
    padding: 0 0 0.2em 0;
    width: 150px;
    font-size: 10.8pt;
    font-weight: lightest;
    font: Arial;
}

.mapboxgl-popup-content {
    padding: 5px;
    width: fit-content;
    height: 33vh;
    overflow-y:auto;
    max-width:500px;
    z-index:190;
}


.mapboxgl-popup-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.mapboxgl-popup-content::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.mapboxgl-popup-content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00000049;
}


.legends {
    padding-top: 10px;
    display: table;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    width: auto;
    max-height:100vh;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    
}
.legend-value{
    font-size: 2.1vmin;
}
h3{
    font-size: 2.4vmin;
    margin: 7px;
}
.mapboxgl-popup-content h3 {
  background:#bc986a ;
  color:#fbeec1;
  margin:0;
  display:block;
  padding:5px;
  border-radius:3px 3px 0 0;
  font-weight:600;
  margin-top:5px;
  text-align: center;
  font-size: 18px;
}
h4 {
    text-align: center;
    margin-top:0px;
    margin-bottom:10px;
    font-size: 2vmin;

}
label{
    font-size: 130%;
}
.form-check-label{
    font-size: 150%;
}
select{
    font-size: 115%;
    margin-top:8px;
}
option{
    font-size: 115%;
}

.geocoder {
    width: 100%;
    width: 40vw;
    margin:0px;
    text-align:center;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100% !important;
    margin:0px;
}
.mapboxgl-ctrl-geocoder--input {
    text-align: center;
}
#map-title{
    background: rgba(255, 255, 255, 0.924);

}

#title-and-bar{
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -25vw;
}
.title-and-bar{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index:-1;
}
.sidenav {
    height: 100%;
    width: 295px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: rgba(17, 17, 17, 0.88); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav label{
    color:black;
    font-family:Helvetica;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #infoButton{
    margin: 0;
    position: absolute;
    text-align:center;
    top: 50%;
    left:25px;
    transform: translate(0, -50%);
    border-radius: 50%;
    border-width:0px;
    background-color:rgba(218, 214, 214, 0.945);
    visibility:hidden;
  }
  .description{
    margin:7px;
    margin-top:50px;
    padding:8px;
    color:black !important;
    font-size:150%;
    text-align:justify;

}
.description *{
    color:white !important;
    text-align:center;
    font-family:Helvetica;

}
.description p{
    text-align:justify;
    color:white !important;

}